<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
</head>
<body class="bg-gray-100 h-screen flex">
    <div class="w-1/4 bg-white flex flex-col shadow-lg">
        <ul id="chat-list" class="flex flex-col h-full overflow-y-auto">
            {% for chat in chat_list %}
                {% if object.pk != chat.pk%}
                <li class="chat p-4 border-b hover:bg-gray-200 transition">
                    <a href="{% url 'room' chat.pk %}" class="flex justify-between items-center">
                        <span class="name font-semibold text-lg">
                            {% if user.pk == chat.user1.pk %}
                                {{ chat.user2.username }}
                            {% else %}
                                {{ chat.user1.username }}
                            {% endif %}
                        </span>
                        <span class="time text-gray-500 text-xs">
                            {% with today=now %}
                              {% if chat.get_last_message.created.date == today.date %}
                                {{ chat.get_last_message.created|date:"P" }}
                              {% else %}
                                {{ chat.get_last_message.created|date }}
                              {% endif %}
                            {% endwith %}
                        </span>
                    </a>
                    <span class="text-gray-500 text-xs">
                        {% if chat.get_last_message.sender.pk == user.pk %}
                            You:{{ chat.get_last_message }}
                        {% else %}
                            {{ chat.get_last_message }}
                        {% endif %}

                    </span>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="p-4 border-t">
            <a href="{% url 'users-list' %}" class="block text-center text-white bg-blue-500 px-4 py-2 rounded-lg shadow hover:bg-blue-600 transition">
                All Users
            </a>
        </div>
    </div>
    <div class="flex-1 flex flex-col">
        <div class="bg-white shadow-md flex justify-between items-center px-1">
            <div class="p-5 bg-white flex flex-col justify-between">
                <div class="flex">
                    <h1 class="text-2xl font-bold">
                        {% if user.pk == object.user1.pk %}
                            {{ object.user2.username }}
                        {% else %}
                            {{ object.user1.username }}
                        {% endif %}
                    </h1>
                    <div id="user-availability-state" class=""></div>
                </div>
                <p id="user-typing-state" class="text-xs text-gray-500"></p>
            </div>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="bg-white text-blue-500 px-4 py-2 rounded-lg hover:text-blue-700 transition duration-200" type="submit">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                </button>
            </form>
        </div>
        
        <div >
            <button id="load-all" class="block w-full text-center text-white bg-blue-500 shadow hover:bg-blue-600 transition" hx-get="{% url 'chat-messages' object.pk %}" hx-trigger="click" hx-target="#chat-log" hx-swap="innerHTML">Load all</button>
        </div>
        <div id="chat-log" class="flex-1 overflow-y-auto bg-gray-200 p-5 flex flex-col-reverse gap-y-2"></div>
        <div class="bg-white p-4 flex items-center shadow-md">
            <label for="chat-message-attachment" class="cursor-pointer text-gray-500 hover:text-gray-700 transition">
                <i class="fa fa-paperclip" aria-hidden="true"></i>
                <input id="chat-message-attachment" class="hidden" type="file">
            </label>
            <input id="chat-message-input" class="flex-1 mx-4 p-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-300" type="text">
            <label for="chat-message-submit" class="cursor-pointer text-gray-500 hover:text-gray-700 transition">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                <input id="chat-message-submit" class="hidden" type="button">
            </label>
        </div>
    </div>
    {{ object.pk|json_script:"chat-pk" }}
    {{ user.pk|json_script:"current-user" }}
    {% if user.pk == object.user1.pk %}
        {{ object.user2.pk|json_script:"other-user" }}
    {% else %}
        {{ object.user1.pk|json_script:"other-user" }}
    {% endif %}
    {% csrf_token %}
    <script>
        const chatPK = JSON.parse(document.getElementById('chat-pk').textContent);
        const currentUserPK = JSON.parse(document.getElementById('current-user').textContent);
        const otherUserPK = JSON.parse(document.getElementById('other-user').textContent);
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        let amITyping = false;

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + chatPK
            + '/'
        );

        fetch('/chat/messages/unread/'+chatPK+"/")
        .then(response => response.json())  // Parse JSON response
        .then(data => {
            data.messages.map((message) => {
                const newMessage = document.createElement("div");
                const textMessage = document.createElement("span") 
                textMessage.textContent = message.text
                newMessage.append(textMessage)
                if (message.url){
                    const image = document.createElement("img");
                    image.src = message.url;
                    image.width = 200;
                    image.height = 150;
                    newMessage.appendChild(image);
                }
                newMessage.id = "m_" + message.pk;
                newMessage.className = "bg-gray-300 text-black self-start p-2 rounded-lg px-5";
                document.querySelector('#chat-log').append(newMessage);
            });
        })
        .catch(error => {
          console.error(error);  // Handle errors
        });

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data)
            if (data.type === "user.message.text"){
                const newMessage = document.createElement("div");
                const textMessage = document.createElement("span") 
                textMessage.textContent = data.text
                newMessage.append(textMessage)
                newMessage.id = "m_" + data.pk;
                if (currentUserPK == data.user_pk){
                    newMessage.className = "bg-blue-500 text-white self-end p-2 rounded-lg relative px-5";
                }
                else{
                    newMessage.className = "bg-gray-300 text-black self-start p-2 rounded-lg px-5";
                    chatSocket.send(JSON.stringify({
                        'pk': data.pk,
                        'type': 'user.message.read',
                    }));
                }
                document.querySelector('#chat-log').prepend(newMessage);
            }
            else if (data.type === "user.message.file"){
                const newMessage = document.createElement("div");
                const image = document.createElement("img");
                image.src = data.url;
                image.width = 200;
                image.height = 150;
                const textMessage = document.createElement("span") 
                textMessage.textContent = data.text
                newMessage.append(textMessage)
                newMessage.id = "m_" + data.pk;
                newMessage.appendChild(image);
                if (currentUserPK == data.user_pk){
                    newMessage.className = "bg-blue-500 text-white self-end p-2 rounded-lg relative px-5";
                }
                else{
                    newMessage.className = "bg-gray-300 text-black self-start p-2 rounded-lg px-5";
                    chatSocket.send(JSON.stringify({
                        'pk': data.pk,
                        'type': 'user.message.read',
                    }));
                }
                document.querySelector('#chat-log').prepend(newMessage);
            }
            else if (data.type === "user.state.online"){
                if (data.list.includes(otherUserPK))
                    document.querySelector('#user-availability-state').className += " w-2 h-2 bg-green-500 rounded-full";
            }
            else if (data.type === "user.state.offline"){
                document.querySelector('#user-availability-state').className = "";
            }
            else if (data.type === "user.typing"){
                if (currentUserPK == data.user_pk) 
                    console.log("you're typing");
                else 
                    document.querySelector('#user-typing-state').innerHTML = "is typing...";
            }
            else if (data.type === "user.typing.stopped"){
                if (currentUserPK == data.user_pk)
                    console.log("your typing stopped"); 
                else
                    document.querySelector('#user-typing-state').innerHTML = "";
            }
            else if (data.type === "user.message.read"){
                if (currentUserPK != data.user_pk){
                    const eyeIconElement = document.createElement('i');
                    eyeIconElement.classList.add('fa', 'fa-eye', 'text-slate-200', 'text-xs', 'absolute', 'bottom-0', 'right-1');
                    eyeIconElement.setAttribute('aria-hidden', 'true');
                    document.querySelector("#m_" + data.pk).append(eyeIconElement);
                }
            }
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-attachment').addEventListener('change', function() {
          const label = document.querySelector('label[for="chat-message-attachment"]')
          const submitLabel = document.querySelector('label[for="chat-message-submit"]')

          if (this.files.length > 0) {
            label.className = "cursor-pointer text-blue-500 hover:text-gray-700 transition"; 
            submitLabel.className = "cursor-pointer text-blue-500 hover:text-gray-700 transition"; 
        } else {
            label.className = "cursor-pointer text-gray-500 hover:text-gray-700 transition"; 
            submitLabel.className = "cursor-pointer text-gray-500 hover:text-gray-700 transition";
          }
        });

        document.querySelector('#load-all').addEventListener('click', function() {
            this.className = "block w-full text-center text-white bg-slate-400 shadow transition cursor-not-allowed"
            this.disabled = true;

        });

        document.querySelector('#chat-message-input').addEventListener('input', function() {
            const label = document.querySelector('label[for="chat-message-submit"]')
            const fileInputDom = document.querySelector('#chat-message-attachment')
            
            if (this.value.length > 0) {
                label.className = "cursor-pointer text-blue-500 hover:text-blue-700 transition"; 
            } else {
                label.className = "cursor-pointer text-gray-500 hover:text-gray-700 transition"; 
            }
        });

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeypress = function(e) {
            if (e.key !== 'Enter' && !amITyping) {
                amITyping = true;
                chatSocket.send(JSON.stringify({
                    'type': 'user.typing',
                }));
                setTimeout(() => {
                    if (amITyping) {
                        amITyping = false;
                        chatSocket.send(JSON.stringify({
                            'type': 'user.typing.stopped',
                        }));
                    }
                }, 5000);
            }
        };
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {
                document.querySelector('#chat-message-submit').click();
                if (amITyping) {
                    amITyping = false;
                    chatSocket.send(JSON.stringify({
                        'type': 'user.typing.stopped',
                    }));
                }
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const textMessageInputDom = document.querySelector('#chat-message-input');
            const attachmentMessageInputDom = document.querySelector('#chat-message-attachment');
            const textMessage = textMessageInputDom.value;
            const file = attachmentMessageInputDom.files[0];
            if (file) {
                const formData = new FormData();
                formData.append('file', file);
                formData.append('text', textMessage);
                formData.append('chat_id', chatPK);

                fetch('/chat/upload/', {
                    method: 'POST',
                    headers: {'X-CSRFToken': csrftoken},
                    mode: 'same-origin',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    chatSocket.send(JSON.stringify({
                        'type': 'user.message.file',
                        'text': textMessage,
                        'url': data.url,
                        'message_id': data.message_id
                    }));
                });
            } else if (textMessage) {
                chatSocket.send(JSON.stringify({
                    'type': 'user.message.text',
                    'text': textMessage
                }));
            }
            textMessageInputDom.value = '';
            attachmentMessageInputDom.value = '';
            const attachmentLabel = document.querySelector('label[for="chat-message-attachment"]')
            const submitLabel = document.querySelector('label[for="chat-message-submit"]')
            attachmentLabel.className = "cursor-pointer text-gray-500 hover:text-gray-700 transition"; 
            submitLabel.className = "cursor-pointer text-gray-500 hover:text-gray-700 transition";
        };
    </script>
</body>
</html>
